body{
	background-image: url(images/bgimage.jpg);
	background-repeat: no-repeat;
}
#head{
	width:80%;
	height: 80px;
    /*background-color: blue;*/
    margin:auto;
    text-align: center;
}

#wrapper{
	width:79%;
	position: absolute;
	top: 88px;
	bottom: 60px;
	left: 10.5%;
    /*background-color: orange;*/
    /*margin: auto;*/
}

#footer{
	width:79%;
	height:60px;
	position: fixed;
	bottom: 0px;
	left: 10.5%;
    /*background-color: red;*/
    margin: auto;
}

#title{
    text-align: center;
	color: orange;
	font-size: 30px;
	font-weight: bold;
}

#loginUser{
	float:left;
	font-weight:bold;
	font-style:normal;
	color:red;
	padding-top:20px;
}
.main{
    width: 80%;
    height: 100%;
    background-color: white;
    float: left;
    overflow: auto;

}
.side{
    width: 20%;
    height: 100%;
    background-color: #7B68EE;
    float: right;
}
.activity{
	width:80%;
	height:80px;
	/*background-color: gray;*/
	margin: auto;
	margin-top: 8px;
	margin-bottom: 8px;
	border-bottom: dotted;
}

.img_title_logo{
	margin-top:10px;
	width: 70px;
	float: left;
}
.img_title_status{
	margin-top:10px;
	width: 40px;
	float: left;
}
.activity_title_new{
	
	height: 15%;
	font-size: 30px;
	text-align: left;
	padding-left: 10px;
	padding-top: 30px;
	color: red;
	text-decoration: none;
	/*margin-bottom:20px;*/
	display:inline-block;
	float: left;
	/*margin-left:5%;*/
}

.activity_title_old{
	width: 80%;
	font-size: 30px;
	text-align: left;
	padding-left: 10px;
	padding-top: 20px;
	text-decoration: none;
	color: gray;
	/*float: left;*/
}

#head button{
	font-size: 14pt;
    color: #003399;
    border: 1px #003399 solid;
    color: #006699;
    border-bottom: #93bee2 1px solid;
    border-left: #93bee2 1px solid;
    border-right: #93bee2 1px solid;
    border-top: #93bee2 1px solid;
    /*background-image: url(../images/bluebuttonbg.gif);*/
    background-color: orange;
    cursor: hand;
    font-style: normal;
    width: 70px;
    height: 30px;
    float: right;
    margin-right: 216px;
    border-radius: 5px;
}

