<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>TraningSharePlatform</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>LoginClServlet</servlet-name>
    <servlet-class>com.trainingshare.servlet.LoginClServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginClServlet</servlet-name>
    <url-pattern>/loginClServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>NewActivityCl</servlet-name>
    <servlet-class>com.trainingshare.servlet.NewActivityCl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewActivityCl</servlet-name>
    <url-pattern>/newactivitycl</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MainClServlet</servlet-name>
    <servlet-class>com.trainingshare.servlet.MainClServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MainClServlet</servlet-name>
    <url-pattern>/mainclservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ActivityContentClServlet</servlet-name>
    <servlet-class>com.trainingshare.servlet.ActivityContentClServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ActivityContentClServlet</servlet-name>
    <url-pattern>/activitycontentclservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>zipDownloadServlet</servlet-name>
    <servlet-class>com.trainingshare.servlet.zipDownloadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>zipDownloadServlet</servlet-name>
    <url-pattern>/zipdownloadservlet</url-pattern>
  </servlet-mapping>
  
    <servlet>
    <servlet-name>ChangePasswordServlet</servlet-name>
    <servlet-class>com.trainingshare.servlet.ChangePasswordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangePasswordServlet</servlet-name>
    <url-pattern>/changepasswordservlet</url-pattern>
  </servlet-mapping>
  
</web-app>